.App {

  background-color: var(--mainDark) !important;
  min-height: 100vh !important;
}

@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");


:root {
  --primaryColor: #fdd700;
  --mainDark: #25252B;
  --secColor: white;
  --terColor: #bb9416;
  --acceptGreen: #9AC168;
  --rejectRed: #FBD9D9;
  --hoverColor: #9eceee;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainGrey: #f8f8fa;
  --darkGrey: #8d8989;
  --mainWhite: #ffff;
  --appGrey: rgba(202, 199, 199, 0.144);
  --mainBlack: #2222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.15em;
}

.ant-menu-item-selected {
  background-color: var(--primaryColor) !important;
  color: black !important;
}

.ant-menu-item:hover {
  background-color: var(--primaryColor) !important;

}

.login-page {
  min-height: 100vh !important;
  background-color: var(--mainDark) !important;
}

.main-page {

  background-color: var(--mainDark) !important;
}

.dark-input {
  background-color: var(--mainDark) !important;
  border-radius: 15px !important;
  border: solid 2px var(--primaryColor) !important;
  color: var(--primaryColor) !important;
}

.dark-input:hover {
  background-color: var(--mainDark) !important;
  border-radius: 15px !important;
  color: var(--primaryColor) !important;
}

.dark-input:focus {
  background-color: var(--mainDark) !important;
  color: var(--primaryColor) !important;
}

.login-form {
  background-color: #2E2F41;
  padding: 50px !important;
  border-radius: 15px !important;
}

.main-button {
  background-color: var(--primaryColor) !important;
  border-radius: 15px !important;
  color: black !important;
  border: 0px !important
}

.main-button:hover {
  background-color: var(--mainDark) !important;
  color: var(--primaryColor) !important;
  border: solid 2px var(--primaryColor) !important;

}

.notification-box {
  background-color: var(--primaryColor) !important;
  color: black !important;
}

.navItem {
  border-radius: 8px !important;
}

.navBar {
  display: flex !important;
  background-color: #2E2F41 !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.mainBox {
  margin-top: 10px;
  background-color: #2E2F41;
  padding: 50px !important;
  border-radius: 15px !important;
}

.mainBox2 {
  margin-top: 10px;
  background-color: #2E2F41;
  padding: 30px !important;
  border-radius: 15px !important;
}

.head-text {
  color: var(--mainWhite) !important;
}

.askmodal {
  background: var(--mainDark) !important;
}

.questionItem {
  background-color: var(--mainDark);
  padding: 10px !important;
  border-radius: 15px !important;
  color: white
}

.question-text {
  color: white;
  font-family: 'Cairo';
  font-size: 15px;
  font-weight: 600;
}

.main-icon {
  font-size: 25px !important;
  transition: color 0.4s !important;
}

.main-icon:hover {
  color: var(--hoverColor) !important;
  cursor: pointer;

}

.answer-area {
  background-color: #2E2F41 !important;
  border-radius: 15px !important;
  color: var(--primaryColor) !important;

  transition: height 0.25s linear;
}

.answer-area:hover {
  background-color: #2E2F41 !important;
  border-radius: 15px !important;
  color: var(--primaryColor) !important;
  border: none;
}

.answer-area:focus {
  background-color: #2E2F41 !important;
  color: var(--primaryColor) !important;
  border: none;
}

.answer-area.active {
  opacity: .5;
}

.transFormText {
  opacity: 1;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
  animation: fade 1s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.main-text {
  font-family: 'Cairo';
  font-weight: 600;
  color: white;
}

.sec-text {
  font-family: 'Cairo';
  font-weight: 600;
  color: var(--primaryColor)
}


/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--mainGrey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--hoverColor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primaryColor);
}

.profile-name {
  font-weight: bolder;
  font-size: 28px;
  font-family: 'Cairo';
  color: white;
}

.hText {
  color: var(--primaryColor);
  font-family: 'Cairo';
  font-size: 40px;
  font-weight: bolder;
}